<h1>¡Hola {{nombre}}!</h1>
<p>Esta es nuestra primera respuesta HTML</p>

{{!-- {{nombre}} es una variable dinámica que se reemplaza por el valor que se le pasa desde el controlador.

Por ejemplo, al usar la URL:
http://localhost:9000/bienvenida?nombre=Lucas

el navegador mostrará:
<h1>¡Hola Lucas!</h1>
<p>Esta es nuestra primera respuesta HTML</p>

--}}