<h1>¡Adiós {{nombre}}, que la fuerza te acompañe!</h1>
<p>Nos veremos de nuevo en otro apunte</p>

{{!-- 

1) Por ejemplo, al usar la URL:
http://localhost:9000/despedida?nombre=María

el navegador mostrará (el HTML creado sera):
<h1>¡Adiós María, que la fuerza te acompañe!</h1>
<p>Nos veremos de nuevo en otro apunte</p>

2) Y si no pasas ningun nombre:
http://localhost:9000/despedida

el HTML sera:
<h1>¡Adiós Mundo, que la fuerza te acompañe!</h1>
<p>Nos veremos de nuevo en otro apunte</p>

ya que Mundo es el valor por defecto de leerNombre()

--}}